/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* commons */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

hr{
    color: lightgray;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
}
/* components */
.btn{
    text-decoration: none;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}
.btn-task{
    text-decoration: none;
    border: 1px solid ;
    padding: 3px;
    border-radius: 50px;
    color: white;
}
.btn-blue{
    background-color: aqua;
   
}
.btn-viola{
    background-color: purple   
}
.btn-verde{
    background-color: green;
}
.btn-arancione{
    background-color: orange;
}
.btn-rosa{
    background-color: pink;
}
.btn-verde-chiaro{
    background-color: lightgreen;
}
/* contenuto */
.top{
    padding: 10px;
    padding-left: 50px;
}

/* lista */
ul{
    list-style: none;
    line-height: 2;
}

.circle{
    border: 1px solid green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    color: green;
}
.red-circle{
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    color: red;
}
.titolo{
    padding: 5px;
}
.task{
    padding-left: 50px;
}