/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* commons */
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: 15px 10px;
}

hr{
    border-color: #f6f8f9;
    border-style: solid;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 200px;
    
}
/* components */
.btn{
    text-decoration: none;
    border: 1px solid #f6f8f9;
    padding: 3px;
    border-radius: 5px;
    color: white;
}
.btn-disabled{
    color: lightgray;
}
.btn-task{
    text-decoration: none;
    border: 1px solid ;
    padding: 3px;
    border-radius: 50px;
    color: white;
}
.btn-blue{
    background-color: #14aaf5;
    border-color: #14aaf5;
   
}
.btn-viola{
    background-color: #ab5de6;
    border-color: #ab5de6;  
}
.btn-verde{
    background-color: #2cc6ab;
    border-color: #2cc6ab;
}
.btn-arancione{
    background-color: #ff9b00;
    border-color: #ff9b00;
}
.btn-rosa{
    background-color: #ec4a9d;
    border-color: #ec4a9d;
}
.btn-verde-chiaro{
    background-color: #a3d117;
    border-color: #a3d117;
}
/* contenuto */
.top{
    padding: 10px;
    padding-left: 50px;
}
.titolo{
    padding: 5px;
}
.task{
    padding: 10px;
    padding-left: 50px;
}
/* lista */
ul{
    list-style: none;
    line-height: 2;
}
.main-list > li {
    padding-top: 20px;
    padding-bottom: 20px;
}
.task-list > li{
    margin-bottom: 15px;
}

.circle{
    border: 1px solid green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    color: green;
}
.red-circle{
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    color: red;
}
